<%- include("../partials/header") %>

<div class="intro" height=120%  width=100% id="introo">
  <video autoplay muted loop id="myVideo">
    <source src="images/satvideo.mp4" type="video/mp4"  >
  </video>
 <!-- <img src="images/home-slider_new.jpg" height=100% width=100% style="opacity:0.5"> -->
 <div class="introcont">
       
      <h1>Satellite Image Reconstruction</h1>
      <h4>Aiding Visualization</h4>
      
    </div>
  </div>
  <div id="guide"></div>
  <div class="howitworks" style=" color:  #033454; padding-bottom: 20%; margin-top:1%" width=100%  >
    <h1 style="padding-bottom: 3%; ">HOW IT WORKS</h1>
    <div class="container">
    <div class="row" >
      <div class="col-md-4 text-center">

        <div class="pr-5 elem" >
          
          <span class="custom-icon upload text-primary">
          
          </span>
          <!-- <img src="images/icons8-upload-100 (1).png" height="180px" width="35%" > -->
          <i class="fas fa-arrow-up" style="font-size:100px; padding: 20%;"></i>
          <h3 class="text-dark" style="padding-top: 5%;">Upload File</h3>
          <p style="padding-bottom: 10%; color: #033454;" >upload files containing disorted images </p>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="pr-5 elem" >
          <span class="custom-icon  text-primary"></span>
          <!-- <img src="images/uploads (2).png" height="180px" width="35%" > -->
          <i class="fas fa-microchip" style="font-size:100px; padding: 20%;"></i>
          <h3 class="text-dark" style="padding-top: 5%;">Processing</h3>
          <p style="padding-bottom: 10%; padding-left:2%; color: #033454;">Processing begins as soon as a method is selected</p>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div class="pr-5 elem"  >
          <span class="custom-icon  text-primary"></span>
          <!-- <img src="images/uploads (3).png" height="180px" width="35%" > -->
          <i class="fas fa-check" style="font-size:100px; padding: 20%;"></i>
          <h3 class="text-dark" style="padding-top: 5%;">Get Results</h3>
          <p style="padding-bottom: 10%; color: #033454;">Get the suitable results you are looking for</p>
        </div>
      </div>

    </div>
    
  </div>
  <div id="illust"></div>
  <hr style="width:80%; margin-bottom: 3%; margin-top:4%; background-color: black; height:20%;">
  
  <div style="color:  #033454;"><h2 style="text-align: center; margin-top:5%; margin-bottom:0%; color:  #033454;">EXAMPLES</h2></div>
</div>
<!-- <div class="container video" >
  <video autoplay muted loop id="myVideos"   >
    <source src="images/video.mp4" type="video/mp4"   >
  </video>
  
</div> -->





<div class="container" style="margin-top:-22%; padding: 1%; width:100%; color: #033454;" >
<div class="jumbotron eg" >
  

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src=images/navegg3.png alt="Example1" style="width:100%; height:400px;" >
    </div>

    <div class="item">
      <img src=images/navegg4.png alt="Example2" style="width:100%; height:400px;">
    </div>
  
    <div class="item">
      <img src=images/navegg6.png alt="Example3" style="width:100%; height:400px;">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
</div>
</div>

<div id=try></div>
<div class="container"  style="margin-top: 2%; "  >
  <hr style="width:80%; margin-bottom: 3%; margin-top:-1%;">
<div class="jumbotron" id="start" style="background-color:#d1e0ebc4; color: white; " >
<h1 style="text-align: center; color: #033454;">Get Started now!</h1>
<h3 style="color: rgb(51, 48, 48); text-align: center;">Click below to start uploading the images you want to reconstruct </h3>
<a href="/upload" class="bcen btn btn-default btn-lg " style="color:  #033454;">Upload</a>
<!-- <p><label for="file" style="cursor: pointer;">Upload jepeg or png Image only!</label></p>
<input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"> 
<div width="200px" height="200px"><img id="output" width="200" style="background-color: azure;"  >	
</div> -->
 </div>
<hr style="width:80%; margin-top: 5%;">
</div>

<div id=ssim></div>
<div class="container"  style="margin-top: 2%; "  >

<div class="jumbotron" id="start" style="background-color:#d1e0ebc4; color: white; " >
<h1 style="text-align: center; color: #033454;">Calculate SSIM!</h1>
<h3 style="color: rgb(51, 48, 48); text-align: center;">Click below to start uploading the images  </h3>
<a href="/calc" class="bcen btn btn-default btn-lg " style="color:  #033454;">Start Now</a>
<!-- <p><label for="file" style="cursor: pointer;">Upload jepeg or png Image only!</label></p>
<input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"> 
<div width="200px" height="200px"><img id="output" width="200" style="background-color: azure;"  >	
</div> -->
 </div>
<hr style="width:80%; margin-top: 5%;">
</div>


<div id="agents-section"></div>
<section class="site-section border-bottom" style="margin-top:5%; background: #033454" >
<div class="container" >
<section class="site-section border-bottom" style="margin-top:-5%; background: #033454" >
  <div class="jumbotron" style="margin-top:-6%; background-color: #d1e0eb; color:#033454 ;" >
  <div class="row mb-5">
    <div class="col-md-12">
      <h2 class="section-title mb-3" style="text-align: center; margin-top:-5%;padding-bottom: 1%;padding-top: 5%;">The Team</h2>
      <p style="text-align: center;"><a href="https://docs.google.com/document/d/1ICqkeADnGVX77cXFqdip80FLfAF_s1G0OqiwTirDHIk/edit">Documentation</a></p>
      <p class="lead" style="text-align: center;">The people behind this awesome project :)</p>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail team-member team">
        
          <ul class="social">
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-linkedin"></span></a></li>
            <li><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
          <!-- <img src="images/person_5.jpg" alt="Image" class="img-fluid"> -->
        
        <img src="images/Vignesh.png" >
       
      
        <div class="p-3" style="padding:6%;">
          <h3 class="mb-2 ">Vignesh Charan </h3>
          <span class="position">Team Leader- 3rd Year</span>
        </div>
      </div>
    </div>
  
 
  
  <div class="col-lg-4 col-sm-6">
    <div class="thumbnail team-member team">
        
      <ul class="social">
        <li><a href="#"><span class="icon-facebook"></span></a></li>
        <li><a href="#"><span class="icon-twitter"></span></a></li>
        <li><a href="#"><span class="icon-linkedin"></span></a></li>
        <li><a href="#"><span class="icon-instagram"></span></a></li>
      </ul>
        <img  class="widthinc" src="images/poojj.png">

        <div class="p-3" style="padding:6%;">
          <h3 class="mb-2">Poojan Panchal</h3>
          <span class="position">3rd Year</span>
        </div>
      </div>
    </div>
  
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail team-member team">
        
        <ul class="social">
          <li><a href="#"><span class="icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon-twitter"></span></a></li>
          <li><a href="#"><span class="icon-linkedin"></span></a></li>
          <li><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
        <img src="images/Shambhavi.png">
        <div class="p-3" style="padding:6%;">
          <h3 class="mb-2">Shambhavi Sinha</h3>
          <span class="position">3rd Year</span>
        </div>
      </div>
    </div>

    <br>
    <br>
    <br>
  
  
  <div class="col-lg-4 col-sm-6">
    <div class="thumbnail team-member team">
        
      <ul class="social">
        <li><a href="#"><span class="icon-facebook"></span></a></li>
        <li><a href="#"><span class="icon-twitter"></span></a></li>
        <li><a href="#"><span class="icon-linkedin"></span></a></li>
        <li><a href="#"><span class="icon-instagram"></span></a></li>
      </ul>
        <img src="images/jay.png">
        <div class="p-3" style="padding:6%;">
          <h3 class="mb-2">Jaynam Modi</h3>
          <span class="position">2nd Year</span>
        </div>
      </div>
    </div>
  
  <div class="col-lg-4 col-sm-6">
    <div class="thumbnail team-member team">
        
      <ul class="social">
        <li><a href="#"><span class="icon-facebook"></span></a></li>
        <li><a href="#"><span class="icon-twitter"></span></a></li>
        <li><a href="#"><span class="icon-linkedin"></span></a></li>
        <li><a href="#"><span class="icon-instagram"></span></a></li>
      </ul>
        <img src="images/swar.png">
        <div class="p-3" style="padding:6%;">
          <h3 class="mb-2">Swaraj Purohit</h3>
          <span class="position">2nd Year</span>
        </div>
      </div>
    </div>
  
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail team-member team">
        
        <ul class="social">
          <li><a href="#"><span class="icon-facebook"></span></a></li>
          <li><a href="#"><span class="icon-twitter"></span></a></li>
          <li><a href="#"><span class="icon-linkedin"></span></a></li>
          <li><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
        <img src="images/dev1.png">
        <div class="p-3" style="padding:6%;">
          <h3 class="mb-2" >Devangi Agarwal</h3>
          <span class="position">3rd Year</span>
        </div>
      </div>
    </div>
  
  </div>
  </div>
  
  
  
</section>


<%- include("../partials/header") %>